
<!--  
======
Absolute URL contains the entire address from the protocol (HTTPS) to the domain name (www.example.com) and includes the location within your website in your folder system (/foldernameA or /foldernameB) names within the URL. Basically, it's the full URL of the page that you link to.

Example: <a href = http://www.example.com/xyz.html>
The relative URL, on the other hand, does not use the full web address and only contains the location following the domain. It assumes that the link you add is on the same site and is part of the same root domain. The relative path starts with the forward slash and leads the browser to stay within the current site.

Example: <a href = "../index.html">Back to Home </a>

-->

<head>

  <title>Creating Hyperlinks</title>
</head>
<body>
  <h1>Home page</h1>
  <p>Want to contact a specific staff member?
  Find details on our <a href="contacts.html">contacts page</a>
</p>

<p>
  View our <a href="projects/index.html">projects</a> 
</p>
<p>
  Go to <a href="downloads/index.html">downloads</a> 
</p>

</body>
</html>